html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 30px; /* bottom = footer height */
}

main {
  margin-bottom: 20px;
}

p {
  margin: 0;
}

#disclaimer {
  font-size: 12px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
}
